{% extends 'base.html' %}
{% block con %}
<h1><b>프로필</b></h1>

<div class="row">
    <div class="col-sm-4">
        <div class="text-center">
            <img src="{{ user.getpic }}" height="250px">
            <div><a href="{% url 'acc:reprofile' %}"><button class="btn btn-dark mt-5">프로필 수정</button></a></div>
            <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                계정 삭제
            </button>
            
        </div>
    </div>
    <div class="col sm-8">
        <div class="mb-3 mt-5">
            <label class="form-label">USERNAME</label>
            <input type="text" value="{{ user.username }}" disabled class="form-control" style="font-weight: bold;">
        </div>
        <div class="mb-3">
            <label class="form-label">POINT</label>
            <input type="text" value=" {{ user.point }}P" style="font-weight: bold;" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">EMAIL</label>
            <input type="text" value="{{ user.email }}" style="font-weight: bold;" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">CONTENT</label>
            <textarea class="form-control" disabled style="font-weight: bold; height: 100px;">{{ user.content }}</textarea>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">계정 삭제 알림창</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'acc:delete' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="password" placeholder="INPUT CURRENT PASSWORD" class="form-control" name="pass">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button class="btn btn-danger">삭제</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}