{% extends 'base.html' %}
{% block con %}
    <h1><b>{{ b.subject }}</b></h1>
    <div class="row mt-4">
        <div class="col-sm-9">
            <textarea class="form-control" style="height: 180px;" disabled>{{ b.content }}</textarea>
        </div>
        <div class="col-sm-3">
            <img src="{{ b.writer.getpic }}" width="90%">
            <div class="mt-3">
                <h5>written by <b>{{ b.writer }}</b></h5>
            </div>
            <div class="text-end mt-3">
                {{ b.pubdate | date:'Y년 m월 d일 H:i' }}
            </div>
        </div>
    </div>

    <div class="text-end mt-4">
        <a class="btn btn-dark" href="{% url 'board:index' %}">글 목록</a>

        {% if user == b.writer %}
        <a href="{% url 'board:update' b.id %}" class="btn btn-secondary">글 수정</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            게시글 삭제
        </button>
        {% endif %}
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>게시글 삭제 알림창</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <a href="{% url 'board:delete' b.id %}"><button type="button" class="btn btn-danger">삭제</button></a>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <form action="{%url 'board:write' b.id%}" method="post">
        {% csrf_token %}
    <div class="row mt-3 mb-5">
        
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="댓글을 입력하세요.." name="content">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-dark" style="width: 100%;">댓글 작성</button>
            </div>
        
    </div>
    </form>
    

    {% if rset %}
        {% for i in rset %}
            <div class="row mt-4">
                <div class="col-sm-3">
                    <img src="{{ i.replyer.getpic }}" width="100%">
                    <div class="text-center"><b>{{ i.replyer }}</b></div>
                    
                </div>
                <div class="col-sm-9">
                    <textarea class="form-control" style="height: 130px;" disabled>{{ i.comment }}</textarea>
                    <div class="text-end">
                        {% if user == i.replyer %}
                        <a class="btn btn-danger mt-3" href="{% url 'board:dreply' b.id i.id %}">댓글 삭제</a>
                        {% endif %}
                    </div>
                </div>
            </div>    
        {% endfor %}
    {% else %}
        <h3>첫번째 댓글을 달아주세요</h3>
    {% endif %}
{% endblock %}